@model ProductDto

<div class="row">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-success">
                <span class="text-white fw-bold">
                    Edit Product
                </span>
            </div>
            <div class="card-body">
                <form method="post"
                      asp-controller="products"
                      asp-action="edit"
                      enctype="multipart/form-data">

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            ID
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   value="@ViewData["ProductId"]" readonly />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Name
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Brand
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" asp-for="Brand" />
                            <span class="text-danger" asp-validation-for="Brand"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Category
                        </label>
                        <div class="col-md-8">
                            <select class="form-select" asp-for="Category">
                                <option selected disabled>Choose One</option>
                                <option value="Smartphone">Smartphone</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Printer">Printer</option>
                                <option value="Other">Other</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Category"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Price
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" asp-for="Price" />
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Description
                        </label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="5"
                                      asp-for="Description"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold"></label>
                        <div class="col-md-8">
                            <img src="/products/@ViewData["ImageFileName"]" width="150" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Image
                        </label>
                        <div class="col-md-8">
                            <input class="form-control" asp-for="ImageFile" />
                            <span class="text-danger" asp-validation-for="ImageFile"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label fw-bold">
                            Created At
                        </label>
                        <div class="col-md-8">
                            <input class="form-control" readonly
                                   value="@ViewData["CreatedAt"]" />
                        </div>
                    </div>

                    <div class="mt-3 pt-3 d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a role="button" class="btn btn-secondary"
                           asp-controller="products" asp-action="index">
                            Cancel
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>